
@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.eot');
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-SemiBold.eot');
    src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
        url('Nunito-SemiBold.woff2') format('woff2'),
        url('Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}