@import './fonts/fonts.css';
@import './base.css';

#app {
  height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
} */
